@font-face {
  font-family: "jty";
  src: url("jty.OTF");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 1000px;
  transform-origin: 0 0 0;
}
.z{
  background-size: cover;
  background-repeat: no-repeat;
}
.bt{
	padding-top: 20px;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 20px;
	background-color: rgb(0 0 0 / 0%);	
	color: #fff;
	text-shadow: 3px 3px 3px #4850f4;
}
table{
	border: none;
	border-collapse: collapse;/*合并单元格边框*/
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
	border-radius: 10px;
	overflow: hidden;
}
td{
	border: none;/*去除默认边框*/
	font-size: 20px;
	color: #fff;
	background-color:rgb(0 0 0 / 20%);
	text-shadow: 3px 3px 3px #4850f4;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top: 3px;
	padding-right: 6px;
}

tr td:nth-child(2n-1){
	background-color: rgb(0 0 0 0.3);
	color: white;
	text-align: center;
    width: 30px;
}
tr td:nth-child(2n){
	background-color: rgb(0 0 0 0.3);
	color: white;
	width: 300px;
}
.end{
    margin-top: 15px;
	border-radius: 20px;
	background-color:rgb(0 0 0 / 10%);
	/*padding-top: 10px;*/
	margin-left:20px;
	padding-left:10px;
	padding-top: 5px;
	margin-right:20px;
	font-size: 20px;
	color: #fff;
	text-shadow: 3px 3px 3px #4850f4;
	box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
}
.from{
	margin-top: 15px;
	text-align: center;
	padding-bottom: 20px;
	font-size: 18px;
	color: #fff;
	text-shadow: 3px 3px 3px #4850f4;
}